@import './variables/font.scss';
@import './variables/colors.scss';

@import './components/header.scss';

@import './components/card.scss';
@import './components/textCard.scss';
@import './components/listCard.scss';

@import './pages/home/home.scss';

@import './pages/about/about.scss';

* {  
  box-sizing: border-box;
  margin: 0;
  color: $secondary-color;

  font-family: $primary-font;
}

body {
  display: flex;
  justify-content: center;
  
  background-color: $primary-color;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.app {
  min-width: 100lvw;

  padding-inline: 0.5rem;
}

.font-blue {
  color: $terciary-color;
}

@media (min-width: 1024px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-main, section.about, section.tecnologies {
    width: 64rem;
  }
}

@media (min-width: 1440px) {
  .home-main, section.about, section.tecnologies {
    width: 90rem;
  }
}

@media (min-width: 1520px) {
  .home-main, section.about, section.tecnologies {
    width: 90vw;
  }
}