@import '../variables/colors.scss';

div.app-projects {
  width: 100%;
  background-color: $secondary-color;

  .projects-section {
    margin-top: 5rem;
    padding-inline: .75rem;

    h2 {
      color: $primary-color;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    ul.projects-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 0;

      li.project-card {
        max-width: 25rem;
        padding: .5rem 1rem;
        background-color: $primary-color;
        border: .5rem solid $terciary-color;
        border-radius: 1rem;
        box-shadow: .5rem .5rem 0.25rem rgba(0,0,0,25%);
        
        .top-card {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: .125rem;

          h3 {
            font-size: 1.5rem;
          }
  
          .top-technology-list {
            display: flex;
            
            li {
              position: relative;
              z-index: 3;
              left: 1.75rem;

              &:nth-child(2) {
                z-index: 2;
                left: 1rem;
              }

              &:last-child {
                z-index: 1;
                left: 0;
              }

              img {
                width: auto;
                height: 2rem;
              }
            }
          }
        }
  
        div.img-card {
          img {
            width: 100%;
            height: auto;
            border: 1px solid $terciary-color;
          }
        }

        div.bottom-img {
          display: flex;
          align-items: center;
          position: relative;
          bottom: .75rem;
          background-color: $terciary-color;
          scale: 105%;
          border-radius: .25rem;

          svg {
            width: auto;
            height: 1.5rem;
            margin-inline: .25rem;
          }

          p {
            color: $primary-color;
            font-weight: 500;
            margin-block: .25rem;
          }
        }

        div.description {
          margin-bottom: .25rem;

          h4 {
            font-size: 1rem;
            margin-bottom: .25rem;
          }

          p {
            font-size: .875rem;
            text-align: justify;
            height: 6.5rem;
          }
        }

        div.technologies {
          margin-bottom: .5rem;

          h4 {
            font-size: 1rem;
            margin-bottom: .5rem;
          }

          ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: .5rem;
            padding: 0;

            li {
              figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .25rem;

                img {
                  width: auto;
                  height: 2rem;
                }
                

                figcaption {
                  font-size: .625rem;
                }
              }
            }
          }
        }
        
        div.link-buttons {
          display: flex;
          justify-content: space-between;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $secondary-color;
            padding: .375rem .75rem;
            gap: .25rem;
            border-radius: .25rem;

            &.website {
              flex-direction: row-reverse;
            }
            
            span {
              font-size: 1rem;
              color: $primary-color;
              font-weight: 700;
            }

            img, svg {
              height: 1.25rem;
              width: auto;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 425px) {
  div.app-projects {
    .projects-section {
      padding-inline: 2rem;

      h2 {
        font-size: 2.5rem;
      }

      ul.projects-list {
        li.project-card {
          .top-card {
            h3 {
              font-size: 1.75rem;
            }
          }

          div.bottom-img {
            svg {
              height: 1.75rem;
              margin-inline: .5rem .25rem;
            }
            
            p {
              font-size: 1.125rem;
            }
          }

          div.description {
            h4 {
              font-size: 1.25rem;
            }
  
            p {
              font-size: 1rem;
              height: 6rem;
            }
          }

          div.technologies {
            h4 {
              font-size: 1.25rem;
            }

            ul {
              li {
                figure {
                  img {
                    height: 2.5rem;
                  }

                  figcaption {
                    font-size: 1rem;
                  }
                }
              }
            }
          }

          div.link-buttons {
            margin-bottom: .5rem;

            a {
              padding: .5rem 1rem;
              gap: .5rem;

              span {
                font-size: 1.25rem;
              }
  
              img, svg {
                height: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 540px) {
  div.app-projects {
    .projects-section {
      ul.projects-list {
        li.project-card {
          max-width: 28rem;
          padding: .5rem 1.5rem;

          .top-card {
            h3 {
              font-size: 2rem;
            }
            
            .top-technology-list {              
              li {
                left: 2rem;
                top: .125rem;
  
                &:nth-child(2) {
                  left: 1.125rem;
                }
  
                img {
                  height: 2.25rem;
                }
              }
            }
          }

          div.bottom-img {
            bottom: 1rem;
  
            svg {
              height: 1.875rem;
              margin-inline: .625rem .5rem; 
            }
  
            p {
              font-size: 1.375rem;
            }
          }

          div.description {
            margin-bottom: .375rem;
  
            h4 {
              font-size: 1.375rem;
            }
  
            p {
              font-size: 1.125rem;
              height: 7rem;
            }
          }

          div.technologies {
            margin-bottom: .875rem;
  
            h4 {
              font-size: 1.375rem;
            }
  
            ul {
              gap: .75rem;
              
              li {
                figure {
                  gap: .375rem;
  
                  img {
                    height: 3rem;
                  }
                  
                  figcaption {
                    font-size: 1.125rem;
                  }
                }
              }
            }
          }

          div.link-buttons {
            a {
              gap: .625rem;
              border-radius: .5rem;

              span {
                font-size: 1.75rem;
              }
  
              img, svg {
                height: 1.75rem;
              }
            }
          }
        }
      }
    }
  }  
}

@media (min-width: 920px) {
  div.app-projects {
    .projects-section {
      margin-inline: auto
    }
  }
}

@media (min-width: 1124px) {
  div.app-projects {
    .projects-section {
      margin-top: 6rem;
      padding-inline: 4rem;

      h2 {
        font-size: 3rem;
        padding-left: 10rem;
      }

      ul.projects-list {
        li.project-card {
          max-width: 32rem;
          padding: .75rem 1.5rem;

          .top-card {
            h3 {
              font-size: 2.5rem;
            }
            
            .top-technology-list {              
              li {
                left: 2.375rem;
  
                &:nth-child(2) {
                  left: 1.375rem;
                }
  
                img {
                  height: 2.75rem;
                }
              }
            }
          }

          div.bottom-img {
            bottom: 1.25rem;
            border-radius: .25rem;
  
            svg {
              height: 2rem;
              margin-inline: .625rem; 
            }
  
            p {
              font-size: 1.5rem;
              margin-block: .25rem;
            }
          }

          div.description {
            margin-bottom: .5rem;
  
            h4 {
              font-size: 1.5rem;
            }
  
            p {
              font-size: 1.25rem;
              height: 8rem;
            }
          }

          div.technologies {
            margin-bottom: 1rem;
  
            h4 {
              font-size: 1.5rem;
              margin-bottom: .75rem;
            }
  
            ul {
              gap: 1rem;  
              li {
                figure {
                  gap: .5rem;
  
                  img {
                    width: auto;
                    height: 3.5rem;
                  }
                  
                  figcaption {
                    font-size: 1.125rem;
                  }
                }
              }
            }
          }

          div.link-buttons {
            a {
              padding: .75rem 1rem;
              gap: .75rem;
              border-radius: .5rem;

              span {
                font-size: 2rem;
              }
  
              img, svg {
                height: 2rem;
                width: auto;
              }
            }
          }
        }
      }
    }
  }  
}