.home-main {
  .text-card {
      .hello {
        padding-top: 0.75rem;
        
        font-size: clamp(4rem, 20vw, 5rem);
        line-height: 4.75rem;
      }
  }
}

@media (min-width: 720px) {
  .home-main {
    .text-card {
      .hello {
        padding-top: 1.25rem;

        font-size: 6rem;
        line-height: 5.5rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .home-main {
    .text-card {
      .hello {
        padding-top: 1.5rem;

        font-size: 7rem;
        line-height: 6.25rem;
      }
    }
  }
}