@import './background/circle.scss';
@import './background/p.scss';
@import './background/points.scss';
@import './background/waves.scss';
@import './background/images.scss';

.background-elements {
  z-index: -1;
  position: absolute;
  width: 100%;
}