.card {
  background-color: $secondary-color;

  width: clamp(20rem, 99vw, 22.5rem);

  &.left {
    position: relative;
    left: -2rem;
    z-index: 1;

    box-shadow: 0.03125rem 0.09375rem 0.25rem rgba(0,0,0,25%), 0.75rem 0.75rem $terciary-color;

    h2, h3, p, .buttons-div {
      margin-left: clamp(2.5rem, 15vw, 2.75rem);
    }
  }

  &.right {
    position: relative;
    right: -0.5rem;
    z-index: 1;

    box-shadow: -0.03125rem 0.09375rem 0.25rem rgba(0,0,0,25%), -0.75rem 0.75rem $terciary-color;

    h2, h3, p, .buttons-div {
      margin-left: clamp(1rem, 6vw, 1.5rem);
    }
  }

  h2, h3 {
    color: $primary-color;
  }

  h2 {
    font-weight: 600;
    font-size: 1.5rem;

    padding-block: 0.75rem;
  }
}

@media (min-width: 540px) {
  .card {
    margin: auto;

    &.left {
      position: initial;
      margin-left: 2rem;

      h2, h3, p, .buttons-div {
        margin-left: 1.5rem;
      }
    }

    &.right {
      position: initial;
      margin-right: 2rem;

      h2, h3, p, .buttons-div {
        margin-left: 1.5rem;
      }
    } 
  }
}