@import '../keyframes.scss';

.card {
  background-color: $secondary-color;

  width: clamp(20rem, 99vw, 22.5rem);

  &.left {
    position: relative;
    left: -2rem;
    z-index: 1;

    box-shadow: 0.03125rem 0.09375rem 0.25rem rgba(0,0,0,25%), 0.75rem 0.75rem $terciary-color;

    h2, h3, p, .buttons-div {
      margin-left: clamp(2.5rem, 15vw, 2.75rem);
    }
  }

  &.right {
    box-shadow: -0.03125rem 0.09375rem 0.25rem rgba(0,0,0,25%), -0.75rem 0.75rem $terciary-color;

    h2, h3, p, .buttons-div {
      margin-left: clamp(1rem, 6vw, 1.5rem);
    }
  }

  h2, h3 {
    color: $primary-color;
  }

  h2 {
    font-weight: 600;
    font-size: 1.5rem;

    padding-block: 0.75rem;
  }
}

@media (min-width: 540px) {
  .card {
    margin: auto;
    animation: vibrate 10s ease-in-out infinite reverse forwards;

    &.left {
      position: initial;
      margin-left: 2rem;

      h2, h3, p, .buttons-div {
        margin-left: 1.5rem;
      }
    }

    &.right {
      position: initial;
      margin-right: 2rem;

      h2, h3, p, .buttons-div {
        margin-left: 1.5rem;
      }
    } 
  }
}

@media (min-width: 720px) {
  .card {
    width: 27rem;

    &.left {
      margin-left: 4rem;

      box-shadow: 0.05rem 0.125rem 0.40rem rgba(0,0,0,25%), 1rem 1rem $terciary-color;

      h2, h3, p, .buttons-div {
        margin-left: 2rem;
      }
    }

    &.right {
      margin-right: 4rem;

      box-shadow: -0.05rem 0.125rem 0.40rem rgba(0,0,0,25%), -1rem 1rem $terciary-color;

      h2, h3, p, .buttons-div {
        margin-left: 2rem;
      }
    }

    h2 {
      font-size: 2rem;

      padding-block: 1rem 0.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .card {
    width: 34rem;

    &.left {
      margin-inline: 2rem auto;

      box-shadow: 0.125rem 0.25rem 0.5rem rgba(0,0,0,25%), 1.5rem 1.5rem $terciary-color;

      h2, h3, p, .buttons-div {
        margin-left: 3.25rem;
      }
    }

    &.right {
      margin-inline: auto 2rem;

      box-shadow: -0.125rem 0.25rem 0.5rem rgba(0,0,0,25%), -1.5rem 1.5rem $terciary-color;

      h2, h3, p, .buttons-div {
        margin-left: 3rem;
      }
    }

    h2 {
      font-size: 2.75em;

      padding-block: 1.5rem 0.5rem;
    }
  }
}

@media (min-width: 1440px) {
  .card {
    width: 42.5rem;

    &.left {
      margin-inline: 7.5rem auto;

      box-shadow: 0.125rem 0.25rem 0.5rem rgba(0,0,0,25%), 1.5rem 1.5rem $terciary-color;

      h2, h3, p, .buttons-div {
        margin-left: 3.5rem;
      }
    }

    &.right {
      margin-inline: auto 7.5rem;

      box-shadow: -0.125rem 0.25rem 0.5rem rgba(0,0,0,25%), -1.5rem 1.5rem $terciary-color;

      h2, h3, p, .buttons-div {
        margin-left: 3.5rem;
      }
    }

    h2 {
      font-size: 3em;

      padding-block: 2rem 0.5rem;
    }
  }
}