.form-card {
  margin-block: 6rem 4rem;
  padding-bottom: 1.5rem;
  
  form {
    margin-left: clamp(2.5rem, 15vw, 2.75rem);
    width: clamp(15rem, 80vw, 18.5rem);
    
    div {
      display: flex;
      flex-direction: column;

      label, input, textarea {
        color: $primary-color;
      }

      textarea {
        min-height: 5rem;
      }

      input, textarea {
        padding: 0.5rem;
        margin-block: 0.125rem 0.625rem;
        width: 100%;
        border: none;
        border-radius: 0.25rem;
        background-color: $terciary-color;
        
        &::placeholder {
          color: $primary-color;
          opacity: 0.5;
        }

        &:disabled {
          opacity: 0.5;
        }

        &:focus {
          border: $primary-color 1px solid;
        }
      }

      label, input, textarea, button {
        font-size: 1.125rem;
        resize: vertical;
      }

      p.denied, p.accepted {
        width: 100%;
        margin-left: 0;
        text-align: center;
      }

      p.accepted {
        color: #25d366;
        font-weight: 500;
        background-color: $primary-color;
        border-radius: 0.5rem;
        padding: 0.5rem;
      }
    }

    .button-div {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 0.5rem;
      align-items: center;
      margin-top: 0.5rem;

      &.accepted {
        flex-direction: column;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        padding-block: 0.75rem;
        border: none;
        border-radius: 0.25rem;
        background-color: $primary-color;
        cursor: pointer;

        &.hidden {
          display: none;
        }

        &:hover, &:focus {
          scale: 105%;
        }
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: $primary-color;
        height: 2.875rem;
        padding-inline: 0.75rem;
        border-radius: 0.25rem;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }

        span {
          color: #25d366;
          font-size: 1.125rem;
        }

        &:hover, &:focus {
          scale: 105%;
        }
      }
    }

    p.denied {
      margin-left: 0;
      color: red;
      margin-top: 0.75rem;
      text-align: center;
    }
  }
}

@media (min-width: 540px) {
  .form-card {
    width: 24rem;

      form {
      margin-left: 1.5rem;
      width: 21rem;
    }  
  }
}

@media (min-width: 720px) {
  .form-card {
    width: 28rem;

    form {
      margin-left: 2rem;
      width: 23.75rem;
      
      div {
        input, textarea {
          margin-top: 0.25rem;
          border-radius: 0.5rem;
        }

        label, input, textarea, button {
          font-size: 1.25rem;
        }

        p.accepted {
          width: 21rem;
          padding: 1rem;
        }

      }

      .button-div { 
        gap: 1rem;

        &.accepted {
          flex-direction: row-reverse;
        }

        button {
          padding-block: 0.875rem;
          width: 7.5rem;
          border-radius: 0.5rem;

          &:disabled {
            cursor: initial;
          }
        }

        a {
          height: 3.25rem;
          padding-inline: 1rem;
          border-radius: 0.5rem;

          span {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .form-card {
    margin-top: 8rem;
    width: 52rem;

    form {
      margin-left: 3.25rem;
      width: 45.5rem;

      div {
        input, textarea {
          padding-inline: 0.75rem;
        }

        textarea {
          height: 12rem;
        }

        label, input, textarea, button {
          font-size: 1.375rem;
        }

        p.accepted {
          font-size: 1.25rem;
          width: 26rem;
          padding: 1rem;
        }
      }

      .button-div {     
        button {
          width: 8rem;
        }

        a {
          align-items: center;
          height: 3.4375rem;
          padding-inline: 1.25rem;

          img {
            width: 1.75rem;
            height: 1.75rem;
          }
        }
      }
    }

    p.denied {
      margin-top: 1.5rem;
      font-size: 1.125rem;
    }
  }
}

@media (min-width: 1440px) {
  .form-card {
    margin-top: 10rem;
    width: 64rem;

    form {
      width: 57.25rem;
      margin-left: 3.5rem;
    }
  }
}