header {
  padding-block: 0.5rem;
  transition: all 1000ms ease;

  div.desktop-header {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    font-size: clamp(1rem, 4vw, 1.125rem);
  }

  .opened-nav {
    display: none;
  }

  button {
    border: none;

    padding: 0;

    width: 3rem;
    height: 3rem;

    background-color: transparent;

    cursor: pointer;

    svg {
      width: clamp(2.75rem, 12.75vw, 3rem);
      height: clamp(2.75rem, 12.75vw, 3rem);
    }
  }

  &.opened-menu {
    height: 90lvh;

    .header {
      display: grid;
    }

    button {
      grid-row: 1;
      grid-column: 2;
    }

    .opened-nav {
      display: flex;
      justify-content: center;
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    nav {
      margin-block: 10vh;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12vh;

        padding: 0;
        li {
          a {
            font-size: clamp(1.8rem, 7vw, 2rem);
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    padding: 2.25rem;

    .header {
      justify-content: flex-start;
      gap: 4rem;
    }

    div.mobile-header {
      display: none;
    }

    div.desktop-header {
      display: flex;
    }

    .opened-nav {
      display: flex;
      position: relative;
      left: 5%;
    }
  

    a h1 {
      font-size: 2.25rem;
    }

    nav  {
      ul {
        display: flex;
        gap: 1.75rem;

        li a{
          font-size: 1.5rem;
        }
      }
    }
  } 
}