.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 6rem;

  .projects-card {
    margin-bottom: 4rem;
    padding-bottom: 2.5rem;
    width: clamp(15rem, 95vw, 20.5rem);
  
    .figure-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      padding: 0;
    }
  
    .projects-figure {

      img, .over-img {
        width: 16.875rem;
        height: 10.9375rem;
        border-radius: 1rem;
      }
      
      .over-img {
        padding: 0.5rem 0.75rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #0c121ab7;
  
        
        div.line {
          height: 1px;
          width: 15.375rem;
          background-color: $white;
        }
  
        h3 {
          margin: 0 0 0.125rem;
          color: $secondary-color;
        }
  
        > .bottom {
          height: 8.25rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
  
          ul {
            padding: 0.25rem 0 0;
            display: flex;
            flex-flow: wrap;
            gap: 0.25rem;
            
            li {
              border: 1px $white solid;
              color: $white;
              padding-inline: 0.25rem;
            }
          }
          
          .links {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            
            a {
              color: $primary-color;
              background-color: $white;
              padding: 0.1875rem 0.25rem;
              font-size: 1.25rem;
              display: flex;
              align-items: center;
              gap: 0.25rem;
              border-radius: 0.375rem;
              width: fit-content;
  
              svg {
                width: 1.25rem;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 540px) {
  .projects {
    .projects-card {
      width: 24rem;

      .figure-list {
        flex-flow: wrap;
        flex-direction: row;
        justify-content: center;

        .projects-figure {

          img, .over-img {
            width: 19.75rem;
            height: 12.8125rem;
          }

          .over-img {
          
            h3 {
              font-size: 1.375rem;
            }
  
            div.line {
              width: 18.25rem;
            }

            > .bottom {
              height: 10rem;

              ul {

                li {
                  font-size: 1.125rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 720px) {
  .projects {
    .projects-card {
      width: 26rem;
    }
  }
}

@media (min-width: 1024px) {
  .projects {
    margin-top: 8rem;
    width: 64rem;

    .projects-card {
      width: 54rem;

      .figure-list {
        margin: 1rem 3rem 0;
        gap: 2.75rem;

        .projects-figure {

          img, .over-img {
            width: 22.375rem;
            height: 14.5rem;
          }

          .over-img {
            background-color: #0c121a27;
            transform: background-color ease 300ms;

            div.line {
              width: 20.875rem;
            }

            h3 {
              font-size: 1.75rem;
            }
            
            > .bottom {
              height: 12rem;
                
              ul li {
                padding-inline: 0.3125rem;
                font-size: 1.25rem;
                color: transparent;
                border-color: transparent;
                transition: color ease 500ms, border-color ease 500ms;
              }

              a {
                font-size: 1.5rem;
                color: transparent;
                background-color: transparent;
                transition: color ease 300ms, background-color ease 300ms;


                svg {
                  width: 1.5625rem;
                  z-index: -1;
                }
              }
            }

            h3, > .bottom, div.line {
              color: transparent;
              background-color: transparent;
              transition: color ease 300ms, background-color ease 300ms;
            }

            &:hover {
              background-color: $transparent-primary-color;
              transition: background-color ease 500ms;

              h3 {
                color: $secondary-color;
                transition: color ease 500ms;
              }
    
              div.line {
                background-color: $secondary-color;
                transition: background-color ease 500ms;
              }
  
              > .bottom {
                display: flex;

                ul li {
                  color: $secondary-color;
                  border-color: $secondary-color;
                  transition: color ease 500ms, border-color ease 500ms;
                }

                a {
                  color: $primary-color;
                  background-color: $secondary-color;
                  transition: background-color ease 500ms, color ease 500ms;

                  svg {
                    background-color: none;
                    z-index: initial;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .projects {
    margin-top: 10rem;
    width: 90rem;

    .projects-card {
      width: 64rem;

      .figure-list {
        margin: 1rem 3rem 0;
        gap: 2.75rem;

        .projects-figure {

          img, .over-img {
            width: 27rem;
            height: 17.5rem;
          }

          .over-img {
          
            h3 {
              font-size: 2rem;
            }
  
            div.line {
              width: 25.5rem;
            }

            > .bottom {
              height: 15rem;
            }
          }
        }
      }
    }
  }
}