.list-card {
  margin-top: 8rem;

  &.left {
    left: -1.375rem;

    h2, h3, ul {
      margin-left: clamp(1.5rem, 10vw, 2.125rem);
    }
  }

  > div {
    padding-bottom: 0.75rem;
  }

  h2 {
    padding-bottom: 0.125rem;
  }
  
  h3 {
    font-weight: 500;
    font-size: 1.125rem;
  }

  ul {
    all: unset;
    display: grid;

    grid-template-columns: repeat(5 , 1fr);
    gap: 0.625rem 0.5rem;

    margin-top: 0.5rem;
    margin-right: 1.375rem;
    padding-inline-start: 0;
  }

  figure {
    display: flex;

    width: 3.5rem;
    height: 4.8125rem;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;

      align-items: center;
      justify-content: center;

      height: 4.5625rem;

      margin-bottom: 0.25rem;

      img {
        width: 3.375rem;
        height: 3.375rem;
      }
    }
  }
  
  figcaption {
    color: $primary-color;
    font-size: 0.6875rem;
    font-weight: 500;
  }
}

@media (max-width: 355px) {
  .list-card {
    h3 {
      font-size: 1.0625rem;
    }

    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (min-width: 540px) {
  .list-card {
    &.left {

      h2, h3, ul {
        margin-inline: 1.5rem;
      }
    }
  }
}

@media (min-width: 720px) {
  .list-card {
    width: 32rem;
    padding-bottom: 1.25rem;

    h2 {
      padding-bottom: 0.25rem;
    }

    h3 {
      font-size: 1.25rem;
    }

    ul {
      grid-template-columns: repeat(6, 1fr);
      gap: 0.75rem 0.625rem;
    
      margin-top: 0.5rem;
    }

    figure {
      width: 4rem;
      height: 5.25rem;
  
      div {
        height: 4.625rem;
  
        margin-bottom: 0.25rem;

        img {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    figcaption {
      font-size: 0.825rem;
    }
  }
}

@media (min-width: 1024px) {
  .list-card {
    width: 54rem;

    margin-top: 10rem;
    padding-bottom: 2rem;

    h2 {
      padding-bottom: 0;
    }

    h3 {
      font-size: 1.75rem;

      margin-block: 1rem 0.25rem;
    }

    ul {
      grid-template-columns: repeat(8, 1fr);
      gap: 1rem 0.75rem;
    }

    figure {
      width: 5rem;
      height: 6.25rem;
  
      div {
        height: 5.5rem;
        
        img {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    figcaption {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1440px) {
  .list-card {
    width: 64rem;
    height: 54rem;

    margin-top: 12rem;
    padding-bottom: 2rem;

    h3 {
      font-size: 2rem;

      margin-block: 1.125rem 0.25rem;
    }

    ul {
      grid-template-columns: repeat(10, 1fr);
      gap: 1.5rem 0.75rem;
    }
  }
}