.about {
  .text-card { 
    .front-card {
      height: 25rem;

      .text {
        padding-block: 0 0.25rem;

        width: 20rem;

        font-size: 0.8125rem;
        text-align: justify;
      }
    }
  }
}