@import './variables/font.scss';
@import './variables/colors.scss';

* {  
  box-sizing: border-box;
  margin: 0;
  background-color: $primary-color;
  color: $secondary-color;

  font-family: $primary-font;
}