@import './variables/font.scss';
@import './variables/colors.scss';

@import './components/header.scss';

@import './components/textCard.scss';

@import './pages/home/home.scss';

@import './pages/about/about.scss';

* {  
  box-sizing: border-box;
  margin: 0;
  color: $secondary-color;

  font-family: $primary-font;
}

body {
  display: flex;
  justify-content: center;
  
  background-color: $primary-color;
}

a {
  text-decoration: none;
}

.app {
  min-width: 100lvw;

  padding-inline: 0.5rem;
}

.font-blue {
  color: $terciary-color;
}