@import './components/textCard.scss';

.home-main {
  margin-top: 6.75rem;
}

@media (min-width: 720px) {
  .home-main {
    margin-top: 8rem;
  }
}

@media (min-width: 1024px) {
  .home-main {
    margin-top: 11.5rem;
  }
}

@media (min-width: 1440px) {
  .home-main {
    margin-top: 14.125rem;
  }
}