@import './components/textCard.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-top: 6rem;

  height: 26rem;

  .card {
    padding-bottom: 2rem;
  }
}

@media (min-width: 540px) {
  .about {
    margin-top: 8rem;
  }
}

@media (min-width: 720px) {
  .about {
    margin-top: 10rem;
    height: 30rem;
  }
}

@media (min-width: 1024px) {
  .about {
    margin-top: 14rem;
    height: 40rem;
  }
}

@media (min-width: 1440px) {
  .about {
    margin-top: 18.75rem;
    height: 48rem;
  }
}