header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding-block: 0.5rem;

  a {
    font-size: 1.125rem;
  }

  button {
    border: none;

    padding: 0;

    width: 3rem;
    height: 3rem;

    background-color: transparent;

    cursor: pointer;
  }
}