.text-card {
  .left.front-card {
    position: relative;
    left: -2rem;
    z-index: 1;

    box-shadow: 0.03125rem 0.09375rem 0.25rem rgba(0,0,0,25%), 0.75rem 0.75rem $terciary-color;

    h2, p, .buttons-div {
      padding-left: 2.75rem;
    }
  }

  .right.front-card {
    position: relative;
    right: -0.5rem;
    z-index: 1;

    box-shadow: -0.03125rem 0.09375rem 0.25rem rgba(0,0,0,25%), -0.75rem 0.75rem $terciary-color;

    h2, p, .buttons-div {
      padding-left: 1.5rem;
    }
  }

  .front-card {
    background-color: $secondary-color;

    width: 22.5rem;

    h2 {
      font-weight: 600;
      font-size: 1.5rem;
      color: $primary-color;

      padding-block: 0.75rem;
    }

    .hello {
      padding-top: 0.75rem;
      
      font-size: 5rem;
      line-height: 4.75rem;
    }

    .mid-text {
      padding-block: 0;

      font-size: 1.25rem;
    }

    .strong-text {
      padding-top: 0.125rem;

      font-size: 1.5rem;
      font-weight: 600;
    }

    p, .buttons-div {
      color: $primary-color;

      padding-top: 1.5rem;
    }

    .buttons-div {
      display: flex; 
      gap: 0.5rem; 
    
      a {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          background-color: $primary-color;
        
          height: 2.375rem;

          padding: 0.25rem 0.5rem;

          font-size: 1.5rem;
          font-weight: 500;

          border-radius: 0.25rem;
        }
      }
    }
}