.text-card {
  .front-card {
    background-color: $secondary-color;
    
    position: relative;
    right: 2rem;
    z-index: 1;

    p {
      background-color: transparent;
      color: $primary-color;
      padding-left: 3rem;
    }
  }

  .back-card {
    background-color: $terciary-color;
    

    position: relative;
    right: 1.25rem;
    bottom: 14.75rem;
  }
}