.text-card {
  .left.front-card {
    position: relative;
    left: -2rem;
    z-index: 1;

    box-shadow: 0.03125rem 0.09375rem 0.25rem rgba(0,0,0,25%), 0.75rem 0.75rem $terciary-color;

    h2, p, .buttons-div {
      padding-left: clamp(2.5rem, 15vw, 2.75rem);
    }
  }

  .right.front-card {
    position: relative;
    right: -0.5rem;
    z-index: 1;

    box-shadow: -0.03125rem 0.09375rem 0.25rem rgba(0,0,0,25%), -0.75rem 0.75rem $terciary-color;

    h2, p, .buttons-div {
      margin-left: clamp(1rem, 6vw, 1.5rem);
    }
  }

  .front-card {
    background-color: $secondary-color;

    width: clamp(20rem, 99vw, 22.5rem);

    h2 {
      font-weight: 600;
      font-size: 1.5rem;
      color: $primary-color;

      padding-block: 0.75rem;
    }

    .mid-text {
      padding-block: 0;

      font-size: clamp(1.15rem, 5vw, 1.25rem);
    }

    .strong-text {
      padding-top: 0.125rem;

      font-size: clamp(1.4rem, 6vw, 1.5rem);
      font-weight: 600;
    }

    p, .buttons-div {
      color: $primary-color;

      padding-top: 1.5rem;
    }

    .buttons-div {
      display: flex; 
      gap: 0.5rem; 

      padding-bottom: 1rem;
    
      a {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          background-color: $primary-color;
        
          height: 2.375rem;

          padding: 0.25rem 0.5rem;

          font-size: clamp(1.4rem, 6vw, 1.5rem);
          font-weight: 500;

          border-radius: 0.25rem;

          svg {
            width: clamp(1.8rem, 8vw, 1.9rem);
            height: clamp(1.8rem, 8vw, 1.9rem);
          }
        }
      }
    }
}