.about {
  .text-card { 
      height: 25rem;
      width: clamp(15rem, 95vw, 20.5rem);

      .text {
        &::before {
          content: '';
          margin-left: 1.5rem;
        }
        
        padding-block: 0 0.5rem;
        padding-right: clamp(0.2rem, 0vw, 1rem);

        width: clamp(16rem, 80vw, 18rem);

        font-size: 1.0625rem;
        text-align: justify;
    }
  }
}

@media (min-width: 540px) {
  .about {
    .text-card {
      width: 21rem;

      .text {
        padding-bottom: 0.625rem;

        width: 21rem;
      }
    }
  }
}

@media (min-width: 720px) {
  .about {
    .text-card {
      height: 30rem;
      width: 25rem;

      .text {
        font-size: 1.125rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about {
    .text-card {
      width: 32rem;
      height: 40rem;
    
      
    .text {
      font-size: 1.5rem;

      width: 26.25rem;
    }
    }
  }
}