.about {
  .text-card { 
      height: 25rem;
      width: clamp(15rem, 95vw, 20.5rem);

      .text {
        padding-block: 0 0.25rem;
        padding-right: clamp(0.2rem, 0vw, 1rem);

        width: clamp(16rem, 80vw, 18rem);

        font-size: 0.875rem;
        text-align: justify;
    }
  }
}