.about {
  .text-card { 
      height: 25rem;
      width: clamp(15rem, 95vw, 20.5rem);

      .text {
        &::before {
          content: '';
          margin-left: 1.5rem;
        }
        
        padding-block: 0 0.5rem;
        padding-right: clamp(0.2rem, 0vw, 1rem);

        width: clamp(16rem, 80vw, 18rem);

        font-size: 1.0625rem;
        text-align: justify;
    }
  }
}