.background-elements {
  svg, img {
    position: absolute;
  
    &.code {
      top: 4.5rem;
      left: 10%;
    }

    &.array {
      left: 85%;
      top: 15rem;
    }

    &.object {
      display: none;
    }

    &.javascript {
      opacity: 0.5;
      top: 25rem;
      left: 55%;

      path:first-child {
        fill: $gray;
      }

      path {
        fill: $primary-color;
      }
    }

    &.reactjs {
      top: 34rem;
      left: 23%;

      path, circle {
        opacity: 0.2;
        fill: $secondary-color;
      }
    }

    &.github {
      display: none;
      top: 52rem;
      right: 2%;

      path {
        opacity: 0.2;
        fill: $secondary-color;
      }
    }

    &.nextjs {
      width: 6rem;
      height: 1.21875rem;
      top: 70rem;
      left: 70%;

      path {
        fill: $primary-color;
      }
    }

    &.html {
      top: 104rem;
      right: 12%;
      
      path:first-child, path:nth-child(2) {
        fill: $primary-color;
      }

      path:nth-child(2) {
        fill: $gray;
        opacity: 0.25;
      }

      path:nth-child(3) {
        fill: $gray;
      }
    }

    &.sass {
      top: 115rem;
      left: 15%;
      
      path {
        fill: $primary-color;
      }
    }

    &.css {
      top: 162rem;
      left: 4%;

      path:first-child {
        fill: $primary-color;
      }

      path:nth-child(2) {
        opacity: 0.1;
        fill: $gray;
      }
      
      path:nth-child(3) {
        fill: $gray;
      }

      path:nth-child(4) {
        opacity: 0.8;
        fill: $gray;
      }
    }

    &.typescript {
      top: 200rem;
      right: 12%;

      rect {
        fill: $primary-color;
      }

      path {
        fill: $secondary-color;
      }
    }
  }

  svg {
    opacity: 0.5;
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 540px) {
  .background-elements {
    img.qr-code {
      left: 5%;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
    
      &.code {
        top: 4rem;
      }

      &.javascript {
        left: 45%;
      }

      &.github {
        display: block;
      }

      &.nextjs {
        top: 75rem;
        left: 80%;
      }

      &.css {
        top: 172rem;
      }

      &.typescript {
        top: 217rem;
        right: 15%;
      }
    }
  }
}

@media (min-width: 720px) {
  .background-elements {

    svg {
      width: 3rem;
      height: 3rem;

      &.object {
        display: block;
        top: 15rem;
        left: 53%;
      }

      &.javascript {
        top: 32rem;
        left: 35%;
      }

      &.reactjs {
        top: 55rem;
        left: 22%;
      }

      &.github {
        top: 60rem;
        right: 1%;
      }

      &.nextjs {
        top: 85rem;
      }

      &.sass {
        top: 125rem;
        left: 30%;
      }

      &.css {
        top: 176rem;
        left: 8%;
      }
      
      &.typescript {
        top: 226rem;
        right: 20%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .background-elements {
    svg {
      width: 4rem;
      height: 4rem;
    
      &.code {
        top: 6rem;
        left: 8%;
      }

      &.array {
        top: 25rem;
      }

      &.object {
        top: 22rem;
        left: 57%;
      }

      &.javascript {
        top: 40rem;
      }

      &.reactjs {
        top: 67rem;
        left: 25%;
      }

      &.github {
        top: 80rem;
      }

      &.nextjs {
        top: 110rem;
        left: 88%;
      }

      &.html {
        top: 135rem;
      }

      &.sass {
        top: 155rem;
        left: 15%;
      }

      &.css {
        top: 180rem;
        left: 1%;
      }

      &.typescript {
        top: 242rem;
        right: 6%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .background-elements {
    svg {
      &.code {
        top: 8rem;
        left: 5%;
      }

      &.object {
        top: 30rem;
      }

      &.javascript {
        top: 52rem;
        left: 35%;
      }

      &.reactjs {
        top: 97rem;
        left: 24%;
      }

      &.github {
        top: 105rem;
        right: 3%;
      }

      &.nextjs {
        top: 135rem;
        left: 85%;
      }

      &.html {
        top: 164rem;
      }

      &.sass {
        top: 185rem;
        left: 25%;
      }

      &.css {
        top: 220rem;
        left: 2%;
      }

      &.typescript {
        top: 285rem;
        right: 27%;
      }
    }
  }
}