.background-elements {
  p {
    position: absolute;
    color: $gray;
    font-size: 1.5rem;
    opacity: 0.5;

    &.space {
      letter-spacing: 0.375rem;
    }

    &.html {
      font-size: 0.9875rem;
      top: 4rem;
      left: 40%;
    }

    &.hello-world {
      display: none;
    }

    &.bars {
      top: 22.25rem;
      left: 20%;
    }

    &.show-my-projects {
      font-size: 1rem;
      color: $primary-color;
      left: 12%;
      top: 98rem;
    }

    &.close-show-my-projects {
      font-size: 1rem;
      color: $primary-color;
      right: 5%;
      top: 165rem;
    }

    &.css-code {
      top: 145rem;
      left: 25%;
      span {
        position: relative;
        display: block;
        font-size: 1rem;
        color: $primary-color;
        opacity: 1;

        &.second-part {
          left: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 540px) {
  .background-elements {
    p {
      &.hello-world {
        display: block;
        width: max-content;
        font-size: 1rem;
        top: 11rem;
        left: 59%;
      }

      &.bars {
        top: 22.125rem;
      }

      &.show-my-projects {
        font-size: 1.25rem;
        left: 15%;
        top: 101rem;
      }

      &.close-show-my-projects {
        font-size: 1.25rem;
        top: 171rem;
      }
    }
  }
}

@media(min-width: 720px) {
  .background-elements {
    p {
      font-size: 1.75rem;

      &.html {
        font-size: 1.5rem;
        left: 50%;
      }

      &.hello-world {
        font-size: 1.5rem;
      }

      &.bars {
        top: 26.5rem;
      }

      &.show-my-projects {
        top: 110rem;
      }

      &.close-show-my-projects {
        top: 183rem;
      }

      &.css-code {
        top: 160rem;
        left: 35%;
        span {
          position: relative;
          font-size: 1.25rem;
  
          &.second-part {
            left: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .background-elements {
    p {
      font-size: 2.5rem;

      &.html {
        font-size: 2rem;
        top: 6rem;
        left: 30%;
      }

      &.space {
        letter-spacing: 0.75rem;
      }

      &.hello-world {
        left: 70%;
        top: 12rem;
      }

      &.bars {
        top: 34.5rem;
        left: 20%;
      }

      &.show-my-projects {
        font-size: 1.5rem;
        top: 145rem;
      }

      &.close-show-my-projects {
        font-size: 1.5rem;
        top: 195rem;
      }

      &.css-code {
        display: none;
      }
    }
  }
}

@media (min-width: 1440px) {
  .background-elements {
    p {
      &.html {
        left: 40%;
      }

      &.bars {
        top: 42rem;
      }

      &.show-my-projects {
        top: 178rem;
        left: 20%;
      }

      &.close-show-my-projects {
        top: 238rem;
      }
    }
  }
}