.background-elements {
  .points {
    position: absolute;

    &.vertical {
      rotate: 90deg;
    }

    &.first-points {
      top: 28rem;
      left: 92%;
    }

    &.second-points {
      top: 5rem;
      left: 30%;
    }

    &.third-points {
      display: none;
    }

    &.fourth-points {
      top: 23rem;
      left: 5%;
    }

    &.fifth-points {
      top: 45rem;
      left: 35%;
    }

    &.sixth-points {
      top: 40rem;
      left: 10%;
    }

    &.seventh-points {
      top: 80rem;
      right: 5%;
    }

    &.eighth-points {
      top: 65rem;
      right: 50%;
    }

    &.ninth-points {
      top: 102rem;
      left: 12%;
    }

    &.tenth-points {
      top: 120rem;
      left: 20%;
    }

    &.eleventh-points {
      display: none;
    }

    &.twelfth-points {
      display: none;
      rotate: -90deg;
    }

    &.thirteenth-points {
      top: 186rem;
      right: 20%;
      rotate: -90deg;
    }

    &.fourteenth-points {
      top: 207.5rem;
      right: 55%;
    }
    
    p {
      position: absolute;
      color: $gray;
      font-size: 1.75rem;
      letter-spacing: 0.125rem;
      opacity: 0.5;

      &.gray-background {
        color: $primary-color;
      }

      &:first-child {
        padding-top: 0.75rem;
      }

      &:last-child {
        padding-top: 1.5rem;
      }
    }

    &.gray-background p {
      color: $primary-color;
    }
  }
}

@media (min-width: 540px) {
  .background-elements {
    .points {
      &.second-points {
        rotate: 90deg;
        left: 55%;
        top: 7rem;
      }

      &.third-points {
        display: block;
        top: 18rem;
        left: 60%;
      }

      &.fourth-points {
        left: 10%;
      }

      &.eighth-points {
        top: 68rem;
        right: 30%;
      }

      &.ninth-points {
        top: 106rem;
      }

      &.eleventh-points {
        display: block;
        top: 160rem;
        left: 2%;
      }

      &.twelfth-points {
        display: block;
        top: 150rem;
        right: 12%;
      }

      &.thirteenth-points {
        top: 209rem;
        right: 15%;
      }

      &.fourteenth-points {
        top: 221rem;
        right: 92%;
      }
    }
  }
}

@media (min-width: 720px) {
  .background-elements {
    .points {
      &.first-points {
        left: 99%;
      }
      
      &.fourth-points {
        top: 27.5rem;
      }

      &.fifth-points {
        top: 56rem;
        left: 40%;
      }

      &.sixth-points {
        top: 50rem;
      }

      &.seventh-points {
        top: 90rem;
      }

      &.eighth-points {
        top: 76rem;
        right: 35%;
      }

      &.ninth-points {
        top: 116rem;
        left: 17%;
      }

      &.tenth-points {
        top: 130rem;
        left: 25%;
      }

      &.twelfth-points {
        top: 160rem;
        right: 10%;
      }

      &.thirteenth-points {
        top: 222rem;
        right: 20%;
      }

      &.fourteenth-points {
        top: 229rem;
        right: 90%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .background-elements {
    .points {
      &.vertical {
        rotate: 90deg;
      }

      &.first-points {
        top: 34rem;
        left: 97%;
      }
  
      &.second-points {
        top: 8rem;
        left: 60%;
      }

      &.third-points {
        top: 18rem;
        left: 65%;
      }

      &.fourth-points {
        top: 36.5rem;
        left: 10%;
      }

      &.fifth-points {
        top: 75rem; 
      }

      &.sixth-points {
        top: 70rem;
      }

      &.seventh-points {
        top: 115rem;
        right: 10%;
      }

      &.eighth-points {
        top: 100rem;
        right: 30%;
      }

      &.ninth-points {
        top: 148rem;
        left: 15%;
      }

      &.tenth-points {
        top: 153rem;
        left: 7%;
      }

      &.eleventh-points {
        top: 184rem;
        left: 4%;
      }

      &.twelfth-points {
        top: 153rem;
        right: 3%;
      }

      &.thirteenth-points {
        top: 228rem;
        right: 15%;
      }

      &.fourteenth-points {
        top: 247.5rem;
      }

      p {
        font-size: 2.25rem;
  
        &:first-child {
          padding-top: 1rem;
        }
  
        &:last-child {
          padding-top: 2rem;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .background-elements {
    .points {
      &.first-points {
        top: 38rem;
      }

      &.second-points {
        left: 53%;
        top: 10rem;
      }

      &.fourth-points {
        top: 44rem;
      }

      &.fifth-points {
        top: 95rem; 
      }

      &.sixth-points {
        top: 90rem;
      }

      &.seventh-points {
        top: 142rem;
      }

      &.eighth-points {
        top: 125rem;
      }

      &.ninth-points {
        top: 176rem;
        left: 55%;
      }

      &.tenth-points {
        top: 190rem;
        left: 6%;
      }

      &.eleventh-points {
        top: 222rem;
        left: 15%;
      }

      &.twelfth-points {
        top: 185rem;
      }

      &.thirteenth-points {
        top: 270rem;
        right: 14%;
      }

      &.fourteenth-points {
        top: 289rem;
        right: 95%;
      }
    }
  }
}