@import './components/textCard.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-block: 6rem;

  height: 25rem;
}

@media (min-width: 540px) {
  .about {
    margin-block: 8rem;
  }
}

@media (min-width: 720px) {
  .about {
    margin-block: 10rem;
    height: 30rem;
  }
}

@media (min-width: 1024px) {
  .about {
    margin-block: 14rem;
    height: 40rem;
  }
}